.fondo-color, body {
    background-color: #4d4c4c;
}

/* Botones */
/* Boton de Comprar*/
.btn-comprar {
    background-color: #b3404b;
    border-color: #b3404b;
    width: 100%;
}

.btn-comprar:hover {
    background-color: #802e37;
    border-color: #802e37;
    font-weight: bolder;
}
.btn-comprar:focus{
/* Estilos para cuando con el tab estoy sobre un boton */
    background-color: #802e37;
    outline-color: #802e37;
    border-color: #802e37;
}
.btn-comprar:active {
/* Estilos para el estado activo (clic) del botón */
    background-color: #c44655 !important;
    outline-color: #c44655 !important;
    border-color: #c44655 !important;
}
.btn-comprar i {
    color: white !important;
}  

.carrusel-Producto-Vista {
    background-color: #4d4c4c;
}


/* Iconos de corazon */
.icon-hover:hover {
    border-color: #b3404b !important;
    background-color: white !important;
  }
  
.icon-hover:hover i {
  color:#b3404b !important;
}


.titulo-descripcion {
    background-color: #3d3d3d;
    color: white;
    border-radius: 5px;    
}


.Profile_ValidateProductBtn, .Profile_DevalidateProductBtn {
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.5rem;
    background-color: #ce1326;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.Profile_DevalidateProductBtn:hover {
    background-color: rgb(148, 51, 61);
    color: black;
}

.Profile_DevalidateProductBtn:focus {
    background-color: rgb(179, 60, 72) !important;
    color: #000000 !important;
    border: 1px black solid !important;
}

.Profile_ValidateProductBtn {
    background-color: #1a531f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.Profile_ValidateProductBtn:hover {
    background-color: #216b27;
    color: black;
}

.Profile_ValidateProductBtn:focus {
    background-color: #216b27 !important;
    color: #000000 !important;
    border: 1px black solid !important;
}


.ProfileA_AdminHL {
    font-size: 1rem;
    color: black;
    text-decoration-line:none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ProfileA_AdminHL:hover {
    color: #b3404b;
}