.ProfileSItems_Container,
.ProfileSItems_ContainerLists {
    background-color: rgb(235, 235, 235);
    border-radius: 1px;
    display: flex;
}

.ProfileSItems_HeaderObjects {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: large;
    color: black;
    padding: 1rem;
}

.ProfileSItems_ContainerLists {
    background-color: rgb(184, 184, 184);
    border-radius: 1px;
}

.ProfileSItems_ItemsButton {
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.5rem;
    background-color: #b3404b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.ProfileSItems_ItemsButton:hover {
    background-color: #b3404b;
    color: black;
}

.ProfileSItems_ItemsButton:active {
    background-color: #97353f !important;
    color: #000000 !important;
    border: 1px black solid !important;
}

.ProfileSItems_NameObject {
    font-size: medium;
    color: black;
    text-decoration-line: underline;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ProfileSItems_NameObject:hover {
    color: #b3404b;
}

.ProfileSItems_ContainerImage {
    border-radius: 4px;
    border: 3px solid black;
}

.ProfileSItems_ObjectsImages {
    border: 3px black solid;
    border-radius: 4px;
    width: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-paginacion-color:hover {
    color: #b3404b;
}

.btn-paginacion-color {
    font-weight: bold;
    color: black;
}

.btn-paginacion-color:hover {
    background-color: #802e37;
    border-color: #802e37;
    color: black;
    font-weight: bolder;
}

.page-item.active .btn-paginacion-color {
    background-color: #b3404b;
    border-color: #b3404b;
    color: black;
    font-weight: bold;
}

.btn:focus {
    background-color: #802e37;
    outline-color: #802e37;
    border-color: #802e37;
}

.page-item.active .btn-paginacion-color {
    background-color: #b3404b;
    border-color: #b3404b;
    color: black;
    font-weight: bold;
}

button:active {
    background-color: #c44655 !important;
    outline-color: #c44655 !important;
    border-color: #c44655 !important;
}

.pagination .page-link {
    background: rgba(255, 255, 255, 0.795);
}


